<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h1><%= @question.test.title %> <%= t('.question') %></h1>

    <p>
      <%= @question.body %>
    </p>

    <%= link_to t('.edit'), edit_admin_question_path(@question) %><br>
    <%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

    <h2><%= t('.answers') %></h2>

    <%= render @question.answers %>

    <%= link_to t('.back'), admin_test_path(@question.test) %>
  </div>
</div>
